<div style='padding:56.25% 0 0 0;position:relative;'>
  <iframe
    style='position:absolute;top:0;left:0;width:100%;height:100%;'
    src="https://www.youtube-nocookie.com/embed/{{ id }}"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media;gyroscope; picture-in-picture"
    allowfullscreen
  >
  </iframe>
</div>
